[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astc_decomp_faster = "*"
bencoding = "*"
biplist = "*"
bits-parser = "*"
blackboxprotobuf = "*"
bs4 = "*"
chardet = "*"
colorama = "*"
construct = "*"
dateutils = "*"
dkimpy = "*"
dnspython = "*"
elasticsearch = "*"
evtx = "*"
hexdump = "*"
ijson = "*"
iOSbackup = "*"
#leveldb = "*"
libbde-python = "*"
libesedb-python = "*"
libevt-python = "*"
liblnk-python = "*"
libmsiecf-python = "*"
libpff-python = "*"
libscca-python = "*"
libvshadow-python = "*"
lxml = "*"
lz4 = "*"
mac_alias = "*"
mako = "*"
mmh3 = "*"
mplog_parser = {editable = true, ref = "main", git = "https://github.com/Intrinsec/mplog_parser.git"}
natsort = "*"
nska-deserialize = ">1.3.1"
ntfs_sds_parser = "*"
numpy = "*"
olefile = "*"
openpyxl = "*"
OTXv2 = "*"
packaging = "~=20.1"
pandas = "*"
PGPy = "*"
Pillow = "*"
pycryptodome = "*"
pyliblzfse = "*"
pylint = "*"
pylnk = "*"
pynotatin = {subdirectory = "pynotatin", git = "https://github.com/strozfriedberg/notatin.git"}
python-cim = "*"
python-magic = "~=0.4.24"
python-mimeparse = "*"
python-registry = "*"
pytsk3 = "*"
pyyaml = "*"
requests = "*"
setuptools-rust = "*"
simplekml = "*"
sshpubkeys = "*"
tabulate = "*"
tqdm = "*"
ujson = "*"
winactivities = {ref = "master", git = "https://github.com/forensicmatt/ActivitiesCacheParser.git"}
xmltodict = "*"
yara-python = "*"
yajl-py = {ref = "master", git = "https://github.com/pykler/yajl-py.git"}

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pudb = "*"
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.12"
